name: ECR Management workflow
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'The environment to deploy to'
        required: true
        type: choice
        options:
          - development
          - staging
          - production
        default: development
      tf_stack_destroy:
        description: 'Destroy the Terraform stack'
        required: false
        type: boolean
        default: false

env:
  SERVICE_NAME: aa-alpha-registry

jobs:
  ecr-management:
    name: ECR Management
    runs-on: ubuntu-latest
    environment: 
        name: ${{ inputs.environment }}
    steps:
      - id: ECR-deploy
        uses: bitovi/github-actions-deploy-aws-ecr-registry@v0.1.1
        # https://github.com/bitovi/github-actions-deploy-aws-ecr-registry/
        with:
          aws_resource_identifier: "${{ env.SERVICE_NAME }}-${{ inputs.environment }}"
          
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_default_region: ${{ vars.AWS_DEFAULT_REGION || 'us-east-1' }}
          
          # aws_additional_tags:

          tf_stack_destroy: ${{ inputs.tf_stack_destroy }}
          tf_state_file_name_append: "ecr-registry-${{ inputs.environment }}"
          tf_state_bucket_destroy: false
          # tf_state_file_name:
          # tf_state_bucket:

          aws_ecr_repo_create: true
          aws_ecr_repo_type: private # default
          aws_ecr_repo_name: "${{ env.SERVICE_NAME }}-${{ inputs.environment }}"
          aws_ecr_repo_mutable: true
          aws_ecr_repo_encryption_type: AES256
          # aws_ecr_repo_encryption_key_arn:
          aws_ecr_repo_force_destroy: ${{ inputs.tf_stack_destroy }}
          aws_ecr_repo_image_scan: true #default
          # aws_ecr_registry_scan_rule:
          # aws_ecr_registry_pull_through_cache_rules:
          # aws_ecr_registry_scan_config:
          # aws_ecr_registry_replication_rules_input:
          # aws_ecr_repo_policy_attach:
          # aws_ecr_repo_policy_create:
          # aws_ecr_repo_policy_input:
          # aws_ecr_repo_read_arn:
          # aws_ecr_repo_write_arn:
          # aws_ecr_repo_read_arn_lambda:
          # aws_ecr_lifecycle_policy_input:
          # aws_ecr_public_repo_catalog:
          # aws_ecr_registry_policy_input:
          # aws_ecr_additional_tags:
          # Lifecycle policy for automatic cleanup
          #aws_ecr_lifecycle_policy_input: '{\"rules\":[{\"rulePriority\":1,\"description\":\"Keep-last-100-releases\",\"selection\":{\"tagStatus\":\"tagged\",\"tagPrefixList\":[\"v\"],\"countType\":\"imageCountMoreThan\",\"countNumber\":100},\"action\":{\"type\":\"expire\"}},{\"rulePriority\":2,\"description\":\"Delete-untagged-older-than-10-days\",\"selection\":{\"tagStatus\":\"untagged\",\"countType\":\"sinceImagePushed\",\"countUnit\":\"days\",\"countNumber\":10},\"action\":{\"type\":\"expire\"}}]}'