name: RDS Management workflow
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'The environment to deploy to'
        required: true
        type: choice
        options:
          - development
          - staging
          - production
        default: development
      tf_stack_destroy:
        description: 'Destroy the Terraform stack'
        required: false
        type: boolean
        default: false

env:
  SERVICE_NAME: aa-alpha-db

jobs:
  rds-management:
    name: RDS Management
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
    steps:
      - id: RDS-deploy
        uses: bitovi/github-actions-deploy-rds@v0
        # https://github.com/bitovi/github-actions-deploy-rds
        with:
          aws_resource_identifier: "${{ env.SERVICE_NAME }}-${{ inputs.environment }}"

          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_default_region: ${{ vars.AWS_DEFAULT_REGION || 'us-east-1' }}

          tf_stack_destroy: ${{ inputs.tf_stack_destroy }}
          tf_state_file_name_append: "rds-${{ inputs.environment }}"
          # tf_state_file_name:
          # tf_state_bucket:
          tf_state_bucket_destroy: ${{ inputs.tf_stack_destroy }}
          
          aws_rds_db_enable: true
          aws_rds_db_proxy: false
          aws_rds_db_identifier: "aa-engine-db-${{ inputs.environment }}"
          aws_rds_db_ingress_allow_all: true

          aws_rds_db_allocated_storage: 20
          aws_rds_db_max_allocated_storage: 1000
          aws_rds_db_storage_encrypted: true
          aws_rds_db_instance_class: db.t4g.micro

          aws_rds_db_monitoring_interval: 60
          aws_rds_db_performance_insights_enable: true
          aws_rds_db_performance_insights_retention: 7
          aws_rds_db_insights_mode: standard

          aws_rds_db_user: aaengine
          aws_rds_db_publicly_accessible: true
          aws_rds_db_engine_version: 16.8

          aws_rds_db_auto_minor_version_upgrade: true
          aws_rds_db_backup_retention_period: 7
          aws_rds_db_backup_window: "10:00-11:00"
          aws_rds_db_copy_tags_to_snapshot: true
          aws_rds_db_apply_immediately: true