name: S3 Bucket Management

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Action to perform (create or destroy)"
        required: true
        default: create
        type: choice
        options:
          - create
          - destroy
      environment:
        description: 'The environment to deploy to'
        required: true
        type: choice
        options:
          - development
          - staging
          - production
        default: development

jobs:
  S3-Buckets:
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.environment }}
    env:
      AWS_REGION: ${{ vars.AWS_DEFAULT_REGION || 'us-east-1' }}
      BUCKET: wichita-myga-file-${{ github.event.inputs.environment }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_DEFAULT_REGION || 'us-east-1' }}

      - name: Create S3 bucket for Wichita transformed data
        if: ${{ github.event.inputs.action == 'create' }}
        run: |
          if ! aws s3api head-bucket --bucket "$BUCKET" 2>/dev/null; then
            echo "Creating S3 bucket $BUCKET for Terraform state..."
            aws s3api create-bucket --bucket "$BUCKET" --region "$AWS_REGION" $(if [ "$AWS_REGION" != "us-east-1" ]; then echo "--create-bucket-configuration LocationConstraint=$AWS_REGION"; fi)
          else
            echo "S3 bucket $BUCKET already exists."
          fi

      - name: Delete S3 bucket for Wichita transformed data
        if: ${{ github.event.inputs.action == 'destroy' }}
        run: |
          if aws s3api head-bucket --bucket "$BUCKET" 2>/dev/null; then
            echo "Emptying bucket $BUCKET..."
            aws s3 rm "s3://$BUCKET" --recursive
            
            echo "Deleting bucket $BUCKET..."
            aws s3api delete-bucket --bucket "$BUCKET" --region "$AWS_REGION"
            echo "Bucket $BUCKET successfully deleted."
          else
            echo "Bucket $BUCKET does not exist or already deleted."
          fi